<div class="holder">
    <div class="media mt-5">
        <div class="media-body m-2">
            <img src="../assets/logo-white.png" class="m-3" alt="image" width="150px" height="150px">
            <h5 class="align-items-center mt-2">Paicip Podcast Links</h5>
        </div>
    </div>
    <div class="socials">
        <a href="https://www.instagram.com/paicip_pod/" target="_blank"><i class="fab fa-instagram circulo"></i></a>
        <a href="https://twitter.com/paicip_pod" target="_blank"><i class="fab fa-twitter circulo"></i></a>
        <a href="https://www.instagram.com/paicip_pod/" target="_blank"><i class="fab fa-facebook circulo"></i></a>
    </div>
    <div class="mt-4">
        <a href="#" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-github">&nbsp;</i>Github</a>
        <br>
        <a href="#" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-codepen">&nbsp;</i>Codepen</a>
        <br>
        <a href="#" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-instagram">&nbsp;</i>Instagram</a>
        <br>
        <a href="#" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-twitter">&nbsp;</i>Twitter</a>
        <br>
        <a href="#" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fa fa-code">&nbsp;</i>Company Site</a>
    </div>
</div>











<!--<div id="profile">
  <img id="userPhoto" src="../../../../assets/img/profile.png" alt="Profile picture of Luã Braga">
  <div id="userName">
    <h1>Luã Braga</h1>
    <p>Software Engineer</p>
  </div>
</div>
<div id="links">
  <a class="link" href="https://github.com/lmourabraga" target="_blank"><i class="fa fa-eye"></i> View Individual Songs</a>
  <br>
  <a class="link" href="https://www.linkedin.com/in/lmourabraga/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a class="link" href="http://lmourabraga.com" target="_blank"><i class="fa fa-globe"></i>Website</a>
  <a class="link" href="mailto:mail@lmourabraga.com" target="_blank"><i class="fa fa-envelope"></i>E-mail</a>
  <a class="link" href="https://web.whatsapp.com/send?phone=5591981380045" target="_blank"><i class="fa fa-whatsapp"></i>WhatsApp</a>
  <a class="link" href="https://guilhermesoares.tech" target="_blank"><i class="fa fa-globe"></i> Meu site</a>
  <a class="link" href="https://github.com/guiscota" target="_blank"><i class="fa fa-github"></i> Github</a>
  <a class="link" href="https://looptech.com.br" target="_blank"><i class="fa fa-globe"></i> Loop Tech</a>
</div>
<div class="footer">
  <a *ngFor="let social of socials" href="{{social.handle}}" target="_blank" aria-hidden="true"><i class="{{social.icon}} circulo"></i></a>
</div>
-->