<div class="holder">
    <div class="media mt-5">
        <div class="media-body m-2">
            <img src="assets/logo-no-background.png" class="m-3" alt="image" width="150px" height="150px">
            <h5 class="align-items-center mt-2">Paicip Podcast Links</h5>
        </div>
    </div>
    <div class="socials">
        <a href="https://www.instagram.com/paicip_pod/" target="_blank" class="btn btn-outline-dark btn-rounded"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/paicip_pod" target="_blank" class="btn btn-outline-dark btn-rounded"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100090146586002" target="_blank" class="btn btn-outline-dark btn-rounded"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="mt-4">
        <a href="https://www.patreon.com/PAICIPPodcast" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-patreon">&nbsp;</i>Patreon</a>
        <br>
        <a href="https://www.youtube.com/@paicippodcast" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-youtube">&nbsp;</i>Youtube</a>
        <br>
        <a href="https://soundcloud.com/paicip_pod" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-soundcloud">&nbsp;</i>Soundcloud</a>
        <br>
        <a href="https://open.spotify.com/show/3e6cof3An4i3QwjqtaHjrK?si=bc27c8adb827488f" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-spotify">&nbsp;</i>Spotify</a>
        <br>
        <a href="https://paicippodcast.bandcamp.com/follow_me" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-bandcamp">&nbsp;</i>Bandcamp</a>
        <br>
        <a href="https://www.stitcher.com/show/1057975" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fas fa-print fa-rotate-270">&nbsp;</i>Stitcher</a>
        <br>
        <a href="https://www.pandora.com/podcast/politics-although-i-call-it-politricks/PC:1001057975" class="btn btn-outline-dark btn-block" role="button" target="_blank"><i class="fab fa-product-hunt">&nbsp;</i>Pandora</a>
    </div>
</div>
